.container{
    margin-top: 3em !important;
}

h2{
    display: inline-block;
}

.right.floated{
    float: right !important;
}

.commit-msg{
    overflow-x: scroll;
    max-width: 100%;
}

.ui.menu{
    margin: 1em !important;
}

#definitions{
    margin-bottom: 1em;
}

.tooltip{
    border-bottom:1px dashed #000;
}

@media only screen and (min-width: 1200px){
    .ui.container {
        min-width: 1127px;
        width: 1300px;
        margin-left: auto!important;
        margin-right: auto!important;
    }
}