{{>header}}
{{#hasMessage}}
<div class="ui segment success message">
    <div class="header" id="message-header">
        Your classification has been saved!
    </div>
    <p>If you re-submit the form, the classification will be overwritten</p>
</div>
{{/hasMessage}}
<div class="ui raised padded segment">

    <div class="ui column grid">
        <div class="six wide column">

            <!-- FORM  -->
            <h2 class="ui header">Classification </h2>

            <form class="ui form" method="post" action="/commit/{{ commit.id }}/classification">
                <div class="field">
                    <label>Reviewer</label>
                    <input type="text" name="reviewer" value="{{ currentUser.name }}">
                </div>
                <div class="field">
                    <label>Is a Bug-Fixing Commit (BFC) <label class="tooltip" id="isBFC">(See
                            definition)</label></label>
                    <select class="ui fluid search dropdown" onchange="onChangeBFC(event)" name="is_bug_fixing_commit">
                        <option value="none">None</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>
                <div class="field">
                    <label>Is a BFC of an obvious bug <label class="tooltip" id="isOB">(See
                            definition)</label></label>
                    <select id="select_is_obvious" class="ui fluid search dropdown disabled" name="is_obvious_bug">
                        <option value="none">None</option>
                        <option value="unknown">I don't know</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>
                <div class="field">
                    <label>Is a BFC of a Safety-Related bug <label class="tooltip" id="isSRB">(See
                            definition)</label></label>
                    <select id="select_is_safety" onchange="onChangeIsSafety(event)"
                        class="ui fluid search dropdown disabled" name="is_safety_related">
                        <option value="none">None</option>
                        <option value="unknown">I don't know</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>
                <div class="field">
                    <label>Which type of Safety-Related commit </label>
                    <select id="select_safety_type" class="ui fluid search dropdown disabled"
                        name="type_of_safety_related">
                        <option value="none">None</option>
                        <option value="unknown">I don't know</option>
                        <option value="Timing and execution">Timing and execution</option>
                        <option value="Memory">Memory</option>
                        <option value="Exchange of Information">Exchange of Information</option>
                    </select>
                </div>

                <div class="ui accordion" id="definitions">
                    <div class="title">
                        <i class="dropdown icon"></i>
                        <b>See definitions of Safety-Related bugs types</b>
                    </div>
                    <div class="content">
                        <b>Timing and execution</b>
                        <p>With respect to timing constraints, the effects of faults such as those listed below can
                            be considered for the software elements executed in each software partition: blocking of
                            execution, deadlocks, livelocks, incorrect allocation of execution time or incorrect
                            synchronization between software elements.</p>
                        <br>
                        <b>Memory</b>
                        <p>With respect to memory, the effects of faults such as those listed below can be
                            considered for software elements
                            executed in each software partition: corruption of content. inconsistent data (e.g. due
                            to update during data fetch),stack overflow or underflow or read or write access to
                            memory allocated to another software element.</p>
                        <br>
                        <b>Exchange of Information</b>
                        <p>With respect to the exchange of information, the causes for faults or effects of faults
                            such as those listed below
                            can be considered for each sender or each receiver: repetition of information, loss of
                            information, delay of information, insertion of information, masquerade or incorrect
                            addressing of information, incorrect sequence of information, corruption of information,
                            asymmetric information sent from a sender to multiple receivers, information from a
                            sender received by only a subset of the receivers or blocking access to a communication
                            channel.</p>
                    </div>
                </div>

                <!-- LINK VISITED -->
                <div class="inline field">
                    <div class="ui checkbox">
                        <input id="link_visited" type="checkbox" name="link_visited">
                        <label>I visit GitHub to check the commit</label>
                    </div>
                </div>

                <div class="field">
                    <label>Comment</label>
                    <textarea name="comment"></textarea>
                </div>

                <input type="hidden" name="commit_hash" value="{{ commit.commit_hash }}">

                <button class="ui button" type="submit" name="submit">Submit</button>
            </form>
        </div>

        <!-- COMMIT MESSAGE  -->

        <div class="ui segments ten wide column">

            <div class="two ui buttons">
                <div class="ui button" onclick="location.href='/commit/{{ last }}'" ;>Previous commit</div>
                <div class="ui button primary" onclick="location.href='/commit/{{ next }}'" ;>Next commit</div>
            </div>

            <div class="ui segment">
                <h3 class="ui header">Commit {{ commit.commit_hash }}</h3>
            </div>
            <div class="ui segment">
                <i class="github icon"></i>
                <a target="_blank" onauxclick="onClickLink()" onclick="onClickLink()"
                    href="https://github.com/torvalds/linux/commit/{{ commit.commit_hash }}">See on
                    GitHub</a>
            </div>

            <div class="ui segment">
                <h4 class="ui header" style="display: inline;">Existing results: </h4>
                {{#results}}
                <div class="ui label">
                    <i class="user icon"></i> {{ reviewer }}
                </div>
                {{/results}}
            </div>

            <div class="ui segment">
                <h4 class="ui header">Message</h4>
            </div>

            <div class="ui segment padded commit-msg">
                <kbd>{{{ commit.json.data.message }}}</kbd>
            </div>

            <div class="ui segment">
                <h4 class="ui header">Files edited</h4>
            </div>

            <div class="ui segment">
                <div class="ui list">
                    {{#commit.json.data.files}}
                    <div class="item">
                        <i class="file icon"></i>
                        <div class="content">
                            <!-- <div class="header">src</div> -->
                            <div class="description">
                                {{ file }}
                                <div class="ui green horizontal label">+{{added}}</div>
                                <div class="ui red horizontal label">-{{removed}}</div>
                            </div>
                        </div>
                    </div>
                    {{/commit.json.data.files}}
                </div>
            </div>

        </div>

    </div>
</div>



{{>footer}}